@media (min-width: 992px) {
  #header {
    display: none;
  }

  #sidenav {
    height: auto;
    width: 260px;
    z-index: 1;
    background-color: #111;
    background: #43425D;
  }

  #logo-box {
    background: #0000001A 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 3px #0000000D;
    opacity: 1;
    padding-top: 20px;
    height: 70px;
  }

  #logo-title {
    padding-top: 29px;
    padding-left: 20px;
    width: 100px;
    text-align: left;
    font-family: Source Sans Pro, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 7px;
    color: #FFFFFF;
    opacity: 1;
  }
  
  .sidenav-section {
    background: #43425D 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 53px;
    padding-top: 16px;
  }

  .sidenav-highlighted-section {
    width: 5px;
    height: 53px;
    float: left;
    margin-right: -5px;
  }

  .sidenav-section:hover {
    background: #0000001A 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 3px #0000000D;
  }

  .sidenav-section:hover .sidenav-highlighted-section {
    background: #A3A0FB;
    margin-top: -16px;
  }

  .sidenav-icon {
    margin-top: -4px;
    margin-left: 25px;
    width: 16px;
    height: 16px;
  }
  
  .sidenav-section-name {
    padding-left: 11px;
    text-align: left;
    font-size: 17px;
    font-family: Source Sans Pro, sans-serif;
    color: #FFFFFF;
  }

  div a:link, a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
    border-bottom: 0px;
  }

  #products {
    background: #F0F0F7 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 100%;
  }

  #products-title {
    font-family: Source Sans Pro, sans-serif;
    text-align: left;
    font-size: 55px;
    letter-spacing: 0;
    color: #43425D;
    opacity: 1;
    padding: 0px 20px 0px 20px;
  }
  
  .products-card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 6px #0000000A;
    opacity: 1;
    margin: 20px;
  }
  
  #total-revenue-card {
    height: 150px;
    margin-right: 15px;
    margin-left: 15px;
  }
  
  #total-revenue-text {
    font-family: Source Sans Pro, sans-serif;
    padding-top: 10px;
  }
  
  img.icon {
    height: 70px;
    margin: 40px 0px 30px 0px;
    padding: 0;
  }
  
  #total-revenue-value {
    text-align: left;
    letter-spacing: 0;
    color: #56D9FE;
    opacity: 1;
    margin: 35px 255px 2px 0px;
  }
  
  #total-revenue-info {
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
    color: #4D4F5C;
    opacity: 1;
  }
  
  #menu-icon {
    width: 5px;
    height: 5px;
    margin-top: 78px;
    margin-left: 70px;
  }
}





@media (max-width: 991.98px) {

  #logo-box, #sidenav {
    display: none;
  }

  #header {
    top: 0px;
    left: 0px;
    height: 122.5px;
    background: #43425D 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 3px #0000000D;
    opacity: 1;
  }

  #logo-title {
    padding-top: 35px;
    padding-left: 40px;
    width: 100px;
    text-align: left;
    font-family: Source Sans Pro, sans-serif;
    font-size: 33px;
    font-weight: bold;
    letter-spacing: 7px;
    color: #FFFFFF;
    opacity: 1;
  }
  
  #burger-icon {
    padding-top: 40px;
    padding-left: 50px;
    float: left;
  }
  
  .burger-icon-bar {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 8px 0;
  }
  
  #search-icon {
    top: 50px;
    left: 330px;
    width: 28px;
    height: 28px;
    opacity: 1;
  }
  
  #products {
    background: #F0F0F7 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 100%;
  }
  
  #products-title {
    font-family: Source Sans Pro, sans-serif;
    text-align: left;
    font-size: 55px;
    letter-spacing: 0;
    color: #43425D;
    opacity: 1;
    padding: 0px 20px 0px 20px;
  }
  
  .products-card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 6px #0000000A;
    opacity: 1;
    margin: 20px;
  }
  
  #total-revenue-card {
    height: 150px;
    margin-right: 15px;
    margin-left: 15px;
  }
  
  #total-revenue-text {
    font-family: Source Sans Pro, sans-serif;
    padding-top: 10px;
  }
  
  img.icon {
    height: 70px;
    margin: 40px 0px 30px 0px;
    padding: 0;
  }
  
  #total-revenue-value {
    text-align: left;
    letter-spacing: 0;
    color: #56D9FE;
    opacity: 1;
    margin: 35px 255px 2px 0px;
  }
  
  #total-revenue-info {
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
    color: #4D4F5C;
    opacity: 1;
  }
  
  #menu-icon {
    width: 5px;
    height: 5px;
    margin-top: 78px;
    margin-left: 70px;
  }
  
  #quick-details-card {
    height: 935px;
    margin-right: 15px;
    margin-left: 15px;
  }
  
  #quick-details-title {
    text-align: left;
    font-size: 35px;
    font-family: Source Sans Pro, sans-serif;
    letter-spacing: 0;
    color: #4D4F5C;
    padding: 30px;
    opacity: 1;
  }
  
  .divider {
    margin: 0px 35px 0px 35px;
    height: 3px;
    width: 880px;
    background: #E8E9EC 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  
  .operation-status {
    font-family: Source Sans Pro, sans-serif;
    margin-left: -45px;
    margin-top: 55px;
    text-align: left;
    font-size: 30px;
    letter-spacing: 0;
    color: #4D4F5C;
    opacity: 0.5;
  }
  
  .quantity {
    font-family: Source Sans Pro, sans-serif;
    margin-right: 100px;
    margin-top: 55px;
    text-align: right;
    font-size: 32px;
    letter-spacing: 0;
    color: #43425D;
    opacity: 1;
  }
}